html,body {
    width: 100%;
    /* height: 100%; */
	background: white;
	line-height: 1.6;
	margin: 0;
	padding: 0;    
    color: #444;
    overflow-x:hidden;
}

* {
    font-family: Quicksand, "Yu Gothic", YuGothic, "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic", sans-serif;
    letter-spacing: 1.2px;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

ul {
    padding-left: 0;
}

pre {    
    line-height: 1.6;
    color: #444;
}

table {
    width: 100%;
    border: none;
    border-bottom: none;
    border-collapse: separate;
    border-spacing: 0;
}

th {
    font-weight: normal;
}

a {
    transition: all 0.3s 0s ease;
    color: #444;
}

a:hover, a:focus, a:active {
    color: #7C41CD;
    text-decoration: none;
}

.scroll-prevent {
    overflow: hidden; 
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #492280;
    border-color: #492280;
    outline: none;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}


/* bootstrap override start*/
.form-control:focus {    
    border-color: #ced4da;;
    box-shadow: none;
}
/* bootstrap override end*/

.bg-purple {
    background-color: #7C41CD!important;
}

.img {
    display: block;
    width: 100%;
}

.btn-big {
    padding: .75rem 1.5rem;
    font-size: 1.5rem;
    line-height: 1.5;
    display: block;
    border-radius: 3px;
    margin: 0 auto;
    max-width: 400px;
}

.btn {
    text-decoration: none;    
    transition: all 500ms 0s ease;
    border-radius: 3px;
}

.btn-wide {
    width: 100%;
}

.btn-primary {
    background-color: #7C41CD;
    color: white !important;
    border: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #492280;
}

.btn-success {
    background-color: #2C1749;
    color: white !important;
    border: none;
}

.nav-link {
    font-size: 0.9rem;
}

.link, .link:hover {
    font-size: 0.8rem;
    color: black;

}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
 
.clearfix {display: inline-table;}
 
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

.main-container {
    min-height: calc(100vh - 140px);
    margin-top: 60px;
    overflow: hidden;
}

.two-cols { 
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 80%;
}

.two-cols__main {
    flex-basis: 65%;
}

.two-cols__sidebar {
    flex-basis: 20%;
}

.page-title {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 30px;
    padding-top: 40px;
    padding-bottom: 10px;
}

.breadcrumb__container {
    background-color: #f3f3f3;
}

.breadcrumb {
    width: 77.2%;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    background-color: #f3f3f3;
}

/* ----------------------------------------------------
margin
---------------------------------------------------- */
.mt00 { margin-top:  0px !important; }
.mt05 { margin-top:  5px !important; }
.mt10 { margin-top: 10px !important; }
.mt15 { margin-top: 15px !important; }
.mt20 { margin-top: 20px !important; }
.mt25 { margin-top: 25px !important; }
.mt30 { margin-top: 30px !important; }
.mt35 { margin-top: 35px !important; }
.mt40 { margin-top: 40px !important; }
.mr00 { margin-right:  0px !important; }
.mr05 { margin-right:  5px !important; }
.mr10 { margin-right: 10px !important; }
.mr15 { margin-right: 15px !important; }
.mr20 { margin-right: 20px !important; }
.mr25 { margin-right: 25px !important; }
.mr30 { margin-right: 30px !important; }
.mr35 { margin-right: 35px !important; }
.mr40 { margin-right: 40px !important; }
.mb00 { margin-bottom:  0px !important; }
.mb05 { margin-bottom:  5px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb15 { margin-bottom: 15px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb25 { margin-bottom: 25px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb35 { margin-bottom: 35px !important; }
.mb40 { margin-bottom: 40px !important; }
.ml00 { margin-left:  0px !important; }
.ml05 { margin-left:  5px !important; }
.ml10 { margin-left: 10px !important; }
.ml15 { margin-left: 15px !important; }
.ml20 { margin-left: 20px !important; }
.ml25 { margin-left: 25px !important; }
.ml30 { margin-left: 30px !important; }
.ml35 { margin-left: 35px !important; }
.ml40 { margin-left: 40px !important; }
/* ----------------------------------------------------
padding
---------------------------------------------------- */
.pt00 { padding-top:  0px !important; }
.pt05 { padding-top:  5px !important; }
.pt10 { padding-top: 10px !important; }
.pt15 { padding-top: 15px !important; }
.pt20 { padding-top: 20px !important; }
.pt25 { padding-top: 25px !important; }
.pt30 { padding-top: 30px !important; }
.pt35 { padding-top: 35px !important; }
.pt40 { padding-top: 40px !important; }
.pr00 { padding-right:  0px !important; }
.pr05 { padding-right:  5px !important; }
.pr10 { padding-right: 10px !important; }
.pr15 { padding-right: 15px !important; }
.pr20 { padding-right: 20px !important; }
.pr25 { padding-right: 25px !important; }
.pr30 { padding-right: 30px !important; }
.pr35 { padding-right: 35px !important; }
.pr40 { padding-right: 40px !important; }
.pb00 { padding-bottom:  0px !important; }
.pb05 { padding-bottom:  5px !important; }
.pb10 { padding-bottom: 10px !important; }
.pb15 { padding-bottom: 15px !important; }
.pb20 { padding-bottom: 20px !important; }
.pb25 { padding-bottom: 25px !important; }
.pb30 { padding-bottom: 30px !important; }
.pb35 { padding-bottom: 35px !important; }
.pb40 { padding-bottom: 40px !important; }
.pl00 { padding-left:  0px !important; }
.pl05 { padding-left:  5px !important; }
.pl10 { padding-left: 10px !important; }
.pl15 { padding-left: 15px !important; }
.pl20 { padding-left: 20px !important; }
.pl25 { padding-left: 25px !important; }
.pl30 { padding-left: 30px !important; }
.pl35 { padding-left: 35px !important; }
.pl40 { padding-left: 40px !important; }
.pb70 { padding-bottom: 70px !important; }

.pc { display:block; }
.sp { display:none; }

@media screen and (max-width:768px) {
    .pc { display:none; }
    .sp { display:block; }

    html, body {
        font-size: 90%;
    }

    .two-cols { 
        width: 90%;
        display: block;
    }

    .main-container {
        margin-top: 50px;
    }

    .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
        background: #7C41CD;
    }
    
    a:hover, a:focus, a:active {
        color: #444;
        text-decoration: none;
    }
    
    .breadcrumb {
        width: 90%;
    }
    
}