.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

#show,#hide{
    color: white;
    float:right;
    cursor:pointer;
    display: none;
    font-size: 1.5rem;
}

.header__sp-menu-opn-btn, 
.header__sp-menu-hide-btn {
    float: right;
    display: none;
    z-index: 10;
}

.header__nav {
    height: 60px;
    width: 77.2%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header__log {
    line-height: 1;
    color: white;
    font-size: 0.9rem;
}

.header__site-name {
    font-size: 1.25rem;
    font-family: 'Abril Fatface',cursive;
    margin-right: 15px;
}

.header__log-link {
    color: white;
    transition: all 0.5s ease;
}

.header__log-link:hover, .header__log-link:focus, .header__log-link:active {
    color: white;
    opacity: 0.65;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 0;
}

.header__menu-item-link .icon {
    font-size: 0.8rem;
    margin-right: 0.4rem;
    margin-bottom: 0.0rem;
    color: white;
}

.header__menu-item-link {
    color: white;
    padding-left: 25px;
    transition: all 0.5s ease;
    font-size: 0.9rem;
}

.header__menu-item-link:hover, .header__menu-item-link:focus, .header__menu-item-link:active {
    color: white;
    opacity: 0.65;
}

@media screen and (max-width:768px) {
    #show,#hide{
        display: block;
    }

    .header__nav {
        width: 90%;
        height: 50px;
    }

    #menu {
        position:absolute;
        top: 0;
        right: -100vw;;
        width: 100vw;
        height: 100vh;
        overflow-y:hidden;
        background-color: #7C41CD;
        padding: 25px 5%;
        transition: all 0.3s;
        padding: 18px 26.25px 0;
    }

    .header__menu-item {
        margin-bottom: 55px;
        text-align: center;
    }

    .header__menu-item-link {
        font-size: 1.2rem;        
    }
 
    .header__sp-menu-opn-btn, 
    .header__sp-menu-hide-btn {        
        display: block;
    }
    
    .menu-open #menu{
        right: 0;
    }

    .menu-open #show{
        display: none;
    }
    
    .menu-open .header__menu{
        display: block;
        padding-top: 60px;
        padding-left: 0;
    }

    .header__log-link:hover, .header__log-link:focus, .header__log-link:active {
        color: white;
        opacity: 1;
    }

    .header__menu-item-link:hover, .header__menu-item-link:focus, .header__menu-item-link:active {
        color: white;
        opacity: 1;
    }

    .header__log {
        font-size: 0.7rem;
    }
    .header__site-name {
        font-size: 1rem;
        margin-right: 5px;
    }

}


