.session {    
    margin-bottom: 35px;
    padding-bottom: 40px;
    border-bottom: 2px solid #f3f3f3;
}

.session:last-child {    
    border-bottom: none;
}

.session__title-container {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 1.5rem;
}

.session__title {
    font-size: 1.1rem;
    line-height: 1.5rem;
    font-weight: bold;
    letter-spacing: 2.5px;
    display: block;
    height: 1.5rem;
    box-align: center; 
    margin-right: 15px;
}

.session__tags {
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.session-content {
    display: flex;
    justify-content: space-between;
}

.session-thumbnail {
    position: relative;
    overflow: hidden;
    flex-basis: 35%;
}

.session-info {
    flex-basis: 63%;    
    background-color: #f3f3f3;
    border-radius: 3px;
    height: 140px;
}

.session-info__outline {
    height: 110px;
    margin: 0;
    font-size: 0.9rem;
    padding: 10px 20px 0;
    line-height: 1.8;
    overflow: hidden;
}

.session-info__outline-span {
    display: block;
    text-align: right;
    // font-weight: bold;
    padding: 0 20px;
    font-size: 0.8rem;


}

.session-thumbnail__type--1 {
    display: inline-block;
    background-color: #8b008b;
    color: white;
    font-size: 0.7rem;
    padding: 0.4rem 0.5rem;
    border-radius: 15px;
    line-height: 1;
    margin-left: 0;
}

.session-thumbnail__type--2 {
    display: inline-block;
    background-color: #32cd32;
    color: white;
    font-size: 0.75rem;
    padding: 0.4rem 0.5rem;
    border-radius: 15px;
    line-height: 1;
    margin-left: 0;
}

.session-thumbnail__type--3 {
    display: inline-block;
    background-color: #7fffd4;
    color: black;
    font-size: 0.75rem;
    padding: 0.4rem 0.5rem;
    border-radius: 15px;
    line-height: 1;
    margin-left: 0;
}

.session-thumbnail__type--4 {
    display: inline-block;
    background-color: #f0e68c;
    color: black;
    font-size: 0.75rem;
    padding: 0.4rem 0.5rem;
    border-radius: 15px;
    line-height: 1;
    margin-left: 0;
}

.session-thumbnail__type--5 {
    display: inline-block;
    background-color: #dc143c;
    color: white;
    font-size: 0.75rem;
    padding: 0.4rem 0.5rem;
    border-radius: 15px;
    line-height: 1;
    margin-left: 0;
}
.session-thumbnail__type--6 {
    display: inline-block;
    background-color: #7cfc00;
    color: black;
    font-size: 0.75rem;
    padding: 0.4rem 0.5rem;
    border-radius: 15px;
    line-height: 1;
    margin-left: 0;
}
.session-thumbnail__type--7 {
    display: inline-block;
    background-color: #a52a2a;
    color: white;
    font-size: 0.75rem;
    padding: 0.4rem 0.5rem;
    border-radius: 15px;
    line-height: 1;
    margin-left: 0;
}
.session-thumbnail__type--8 {
    display: inline-block;
    background-color: #ff69b4;
    color: white;
    font-size: 0.75rem;
    padding: 0.4rem 0.5rem;
    border-radius: 15px;
    line-height: 1;
    margin-left: 0;
}
.session-thumbnail__type--9 {
    display: inline-block;
    background-color: #0000ff;
    color: white;
    font-size: 0.75rem;
    padding: 0.4rem 0.5rem;
    border-radius: 15px;
    line-height: 1;
    margin-left: 0;
}
.session-thumbnail__type--10 {
    display: inline-block;
    background-color: #eee8aa;
    color: black;
    font-size: 0.75rem;
    padding: 0.4rem 0.5rem;
    border-radius: 15px;
    line-height: 1;
    margin-left: 0;
}

.session-viewable__all {
    display: inline-block;
    background-color: #696969;
    color: white;
    font-size: 0.75rem;
    padding: 0.4rem 0.5rem;
    border-radius: 15px;
    line-height: 1;
    margin-left: 10px;
}

.session-viewable__notpaiduser {
    display: inline-block;
    background-color: #696969;
    color: white;
    font-size: 0.75rem;
    padding: 0.4rem 0.5rem;
    border-radius: 15px;
    line-height: 1;
    margin-left: 10px;
}


.session-thumbnail__img-container {
    width: 100%;
    background-color: #000;    
    overflow: hidden;
}

.session-thumbnail__link:hover .session-thumbnail__img {
    filter: brightness(0.7);
    transform: scale(1.2);
}

.session-thumbnail__hover-text {
    opacity: 0;
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    padding-top: 48px;
    text-align: center;
    margin-top: -35px;
    margin-left: -35px;
    font-size: .75rem;
    transform: translate(0, 15px) scale(1.2);
    transition: all 0.3s 0s ease;
    z-index: 2;
}

.session-thumbnail__hover-text::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border: 1px solid #fff;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    display: block;
    transition: all 0.4s 0s ease;
    background: url(/img/arrow_index_column.png) no-repeat center center;
    border-radius: 50%;
}

.session-thumbnail__hover-text:hover {
    pointer-events: none;
}

.session-thumbnail__link:hover .session-thumbnail__hover-text {
    opacity: 1;
    transform: translate(0, 0) scale(1);
}

.session-thumbnail__img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    vertical-align: bottom;
    transition: all 0.3s 0s ease;
    object-position: 50% 75%;
}

.session-thumbnail__link {
    display: block;
    width: 100%;
    overflow: hidden;
    margin-bottom: 5px;
    border-radius: 3px;
}

.session-thumbnail__link:hover {
    border-radius: 3px;
}

.session-thumbnail__text-link {
    float: right;
    font-size: 0.8rem;    
}

.movie{
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 60%;
    background-color: black;
    margin-bottom: 30px;

}

.movie iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.session-detail {
    padding-bottom: 35px;
    margin-bottom: 40px;
}

.session-movie-not-viewable{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

.session-movie-not-viewable-message{
    text-align: center;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    line-height: 2rem;    
}

.session-movie-not-viewable-button {
    display: inline-block;
    padding: 15px 30px;
    margin: 0 auto;
    margin-top: 25px;
}

.session-outline {
    overflow: hidden;
}

/* .session-detail__info {
    
} */

.session-detail__subtitle {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.session-detail__description {
    background-color: #f3f3f3;
    padding: 10px 20px;
    line-height: 2;
    border-radius: 3px;
    margin-bottom: 40px;
    font-size: 0.9rem;
}

@media screen and (max-width:768px) {
    .session-content {
        display: block;
    }

    .session__title-container {
        display: block;
        height: auto;
        margin-bottom: 10px;
    }

    .session__title {
        margin-bottom: 5px;
    }
       
    .session-detail {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .session-thumbnail {
        margin-bottom: 5px;
    }

    .session-thumbnail__link:hover .session-thumbnail__img {
        filter: brightness(1);
        transform: none;
    }

    .session-thumbnail__img {
        height: 140px;
    }

    .session-thumbnail__link:hover .session-thumbnail__hover-text {
        opacity: 0;
        transform: none;
    }
}

