.change-password {
    width: 80%;
    margin: 0 auto;
}

.change-password__main-title {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 30px;
    padding-top: 40px;
    padding-bottom: 10px;
}

.charge {
    margin: 0 auto 40px;
    padding-bottom: 35px; 
    width: 80%;
}

.charge__title {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 30px;
    padding-top: 40px;
    padding-bottom: 10px;
}

.charge__plan {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 10px;
}

.charge__plan-name {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.charge__monthly-amount {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 20px;
}

.charge__monthly-amount-price {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}


.charge__form {
    text-align:center;
}

button.stripe-button-el,
button.stripe-button-el>span {
    color: #fff;
    background: #7C41CD;
    border: 0;
    outline: none;
    border-radius: 3px;
    transition: all 0.3s 0s ease;
    width: 160px;
    height: 50px;
    font-size: 1.6rem;
    line-height: 50px;
}


button.stripe-button-el:hover,
button.stripe-button-el>span:hover,
button.stripe-button-el:active,
button.stripe-button-el>span:active,
button.stripe-button-el:focus,
button.stripe-button-el>span:focus {
    background: #492280!important;
    border: 0!important;
}
html,body {
    width: 100%;
    /* height: 100%; */
	background: white;
	line-height: 1.6;
	margin: 0;
	padding: 0;    
    color: #444;
    overflow-x:hidden;
}

* {
    font-family: Quicksand, "Yu Gothic", YuGothic, "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic", sans-serif;
    letter-spacing: 1.2px;
}

pre {    
    line-height: 1.6;
    color: #444;
}

table {
    width: 100%;
    border: none;
    border-bottom: none;
    border-collapse: separate;
    border-spacing: 0;
}

th {
    font-weight: normal;
}

a {
    transition: all 0.3s 0s ease;
    color: #444;
}

a:hover, a:focus, a:active {
    color: #7C41CD;
    text-decoration: none;
}

.scroll-prevent {
    overflow: hidden; 
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #492280;
    border-color: #492280;
    outline: none;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}


/* bootstrap override start*/
.form-control:focus {    
    border-color: #ced4da;;
    box-shadow: none;
}
/* bootstrap override end*/

.bg-purple {
    background-color: #7C41CD!important;
}

.img {
    display: block;
    width: 100%;
}

.btn-big {
    padding: .75rem 1.5rem;
    font-size: 1.5rem;
    line-height: 1.5;
    display: block;
    border-radius: 3px;
    margin: 0 auto;
    max-width: 400px;
}

.btn {
    text-decoration: none;    
    transition: all 500ms 0s ease;
    border-radius: 3px;
}

.btn-wide {
    width: 100%;
}

.btn-primary {
    background-color: #7C41CD;
    color: white !important;
    border: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #492280;
}

.btn-success {
    background-color: #2C1749;
    color: white !important;
    border: none;
}

.nav-link {
    font-size: 0.9rem;
}

.link, .link:hover {
    font-size: 0.8rem;
    color: black;

}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
 
.clearfix {display: inline-table;}
 
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

.main-container {
    min-height: calc(100vh - 110px);
    margin-top: 55px;
    overflow: hidden;
}

.two-cols { 
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 80%;
}

.two-cols__main {
    flex-basis: 65%;
}

.two-cols__sidebar {
    flex-basis: 20%;
}

.page-title {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 30px;
    padding-top: 40px;
    padding-bottom: 10px;
}




@media screen and (max-width:768px) {
    html, body {
        font-size: 75%;
    }

    .two-cols { 
        width: 90%;
        display: block;
    }
    
}
.contact {
    margin: 0 auto;
    width: 50%
}

.contact__title {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 30px;
    padding-top: 40px;
    padding-bottom: 10px;
}

.contact__submit-button {
    float: right;
    margin-top: 20px;
}


.footer {
    font-size: 0.7rem;
    background-color: #7C41CD;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer__nav {    
    padding-top: 5px;
    height: 50px;
    width: 77.2%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;    
}

.footer__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer__menu-item {
    display: block;
    padding: 0 20px;
    border-right: white 1px solid;
}

.footer__menu-item:last-child {
    border-right: none;
    padding-right: 0;
}

.footer__menu-item-link {
    font-size: 0.8rem;
    color: white;
    transition: all 0.5s ease;
}

.footer__menu-item-link:hover, .footer__menu-item-link:focus, .footer__menu-item-link:active {
    color: white;
    opacity: 0.65;
}

.footer-copyright {
    height: 30px;
    line-height: 1;
    margin-top: 15px;
    color: white;
    opacity: 0.4;
    width: 77.2%;
    margin: 0 auto;
    text-align: right;
}

@media screen and (max-width:768px) {
    
    .footer__nav {        
        width: 90%;
        height: auto;
    }

    .footer, .footer__nav, .footer__menu {
        display: block;
    }

    .footer__menu {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .footer__menu-item {
        border: none;
        margin-bottom: 10px;

    }

    .footer-copyright {
        display: block;
        width: 90%;
        text-align: left;
        padding-left: 20px;
    }


}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    transition: all 0.5s ease;
}

#show,#hide{
    color: white;
    float:right;
    cursor:pointer;
    display: none;
    font-size: 1.5rem;
}

.header__sp-menu-opn-btn, 
.header__sp-menu-hide-btn {
    float: right;
    display: none;
    z-index: 10;
}

.header__nav {
    height: 60px;
    width: 77.2%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header__log {
    line-height: 1;
    color: white;
    font-size: 0.9rem;
}

.header__log-link {
    color: white;
    font-size: 1.25rem;
    font-family: 'Abril Fatface',cursive;
    transition: all 0.5s ease;
    margin-right: 15px;
}

.header__log-link:hover, .header__log-link:focus, .header__log-link:active {
    color: white;
    opacity: 0.65;
}

.header__menu {
    display: flex;
    justify-content: space-between;
}

.header__menu-item-link .icon {
    font-size: 0.8rem;
    margin-right: 0.4rem;
    margin-bottom: 0.0rem;
    color: white;
}

.header__menu-item-link {
    color: white;
    padding-left: 25px;
    transition: all 0.5s ease;
    font-size: 0.9rem;
}

.header__menu-item-link:hover, .header__menu-item-link:focus, .header__menu-item-link:active {
    color: white;
    opacity: 0.65;
}

@media screen and (max-width:768px) {
    #show,#hide{
        display: block;
    }

    .header__nav {
        width: 90%;
    }

    #menu {
        position:absolute;
        top: 0;
        right: -100vw;;
        width: 100vw;
        height: 100vh;
        overflow-y:hidden;
        background-color: #7C41CD;
        padding: 25px 5%;
        transition: all 0.3s;
    }

    .header__menu-item {
        margin-bottom: 5vh;
    }

    .header__menu-item-link {
        font-size: 1.5rem;        
    }
 
    .header__sp-menu-opn-btn, 
    .header__sp-menu-hide-btn {        
        display: block;
    }
    
    .menu-open #menu{
        right: 0;
    }

    .menu-open #show{
        display: none;
    }
    
    .menu-open .header__menu{
        display: block;
        padding-top: 20px;
    }
}



.login {
    width: 80%;
    margin: 0 auto;
}

.login__main-title {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 30px;
    padding-top: 40px;
    padding-bottom: 10px;
}

.mypage {
    padding-bottom: 35px;
    margin-bottom: 40px;
}

/* .news {

} */

.news__title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.news__items {
    background-color: #f3f3f3;
    padding: 10px 40px;
    line-height: 2;
    border-radius: 3px;
    margin-bottom: 40px;
}

.news__item {
    font-size: 0.9rem;
    font-weight: bold;
}

/* .userinfo {

} */
.userinfo__title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.userinfo__items {
    background-color: #f3f3f3;
    padding: 20px 40px 30px;
    line-height: 2;
    border-radius: 3px;
    margin-bottom: 40px;
    overflow: hidden;
}

/* .mypage-form {
} */

.mypage-form .form-group {
    margin-bottom: 30px;
}

.mypage-form .form-group > label {    
    margin-bottom: 5px;
}

.mypage-form .form-control {
    border: 0;
    border-radius: 2.5px;
}

.mypage-form .form-control-plaintext {
    letter-spacing: 2.5px;
    border: 0;
}

.mypage-form .form-control-plaintext:hover, .mypage-form .form-control-plaintext:active, .mypage-form .form-control-plaintext:focus {
    border: 0;
    outline: 0;
}


.mypage-form__submit-button-container {
    float: right;
}

.mypage-form__submit-button {
    margin-bottom: 10px;
    float: right;
}

.mypage-form__password-change-link {
    font-size: 0.75rem;
    display: block;
    clear: both;
}

.password-reset {
    width: 80%;
    margin: 0 auto;
}

.password-reset__main-title {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 30px;
    padding-top: 40px;
    padding-bottom: 10px;
}

.password-reset__desc {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 20px;
}

.paycomplete {
    margin: 0 auto 40px;
    padding-bottom: 35px; 
    width: 80%;
}

.paycomplete__title {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 30px;
    padding-top: 40px;
    padding-bottom: 10px;
}

.paycomplete__message {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 20px;
}
.plan-section {
    margin: 0 auto 40px;
    padding-bottom: 35px; 
    width: 80%;
}

.plan-section__title {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 30px;
    padding-top: 40px;
    padding-bottom: 10px;
}

.plan-section__container {
    display: flex;
    justify-content: space-around;
}

.plan-card {
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
    padding: 40px;
    border-radius: 3px;
    background-color: #fff;
    flex-basis: 40%;
}

.plan-card__title {
    margin-bottom: 25px;
    text-align: center;
    font-size: 1.5rem;

}

.plan-card__monthly-amount {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 45px;
}

.plan-card__monthly-amount-price {
    font-size: 2rem;
    font-weight: bold;
}

.plan-card__discription {
    font-size: 1rem;
    margin-bottom: 50px;
    padding: 20px;
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 3px;
    line-height: 2;
}

.plan-card__caution {
    font-size: 1rem;
    margin-bottom: 15px;
    padding: 0px 20px;
    width: 100%;
}

.plan-card__entry {
    background-color: #7C41CD;
    color: white !important;
    border: none;
    padding: .75rem 1.5rem;
    font-size: 1.5rem;
    line-height: 1.5;
    display: block;
    border-radius: 0;
    margin: 0px auto;
    max-width: 400px;
    text-align: center;
    border-radius: 3px;
}

.plan-card__entry:hover, .plan-card__entry:focus, .plan-card__entry:active {
    background: #492280;
    text-decoration: none;
}

.plan-card__detail-table {
    border-bottom: .1px solid grey;
    margin-bottom: 50px;
}

.plan-card__detail-table-head-tr {
    color: #333;
    font-size: 1em;
    border-bottom: none;
}

.plan-card__detail-table-head-th {
    color: #333;
    font-size: 1em;
    border-bottom: none;
}

.plan-card__detail-table-body-tr {
    color: #333;
    font-size: 1em;
    border-bottom: none;
}

.plan-card__detail-table-body-th {
    color: #333;
    font-size: 1em;
    border-bottom: none;
    border-top: .1px solid grey;
    text-align: center; 
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 20px;   
    padding-right: 15px;
}

.plan-card__detail-table-body-td {
    color: #333;
    font-size: 1em;
    border-bottom: none;
    border-top: .1px solid grey;
    
}

@media screen and (max-width:768px) {
    .plan-section__container {
        display: block;
    }

    .plan-card {
        margin-bottom: 30px;
    }
}
.register {
    width: 80%;
    margin: 0 auto;
}

.register__main-title {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 30px;
    padding-top: 40px;
    padding-bottom: 10px;
}

.session {    
    margin-bottom: 35px;
    padding-bottom: 40px;
    border-bottom: 2px solid #f3f3f3;
}

.session:last-child {    
    border-bottom: none;
}

.session__title-container {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 1.5rem;
}

.session__title {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: bold;
    letter-spacing: 2.5px;
    display: block;
    height: 1.5rem;
    box-align: center; 
}

.session-content {
    display: flex;
    justify-content: space-between;
}

.session-thumbnail {
    position: relative;
    overflow: hidden;
    flex-basis: 35%;
}

.session-info {
    flex-basis: 60%;    
}

.session-info__outline {
    background-color: #f3f3f3;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 3px;
    line-height: 2;
    height: 140px;

}

.session-thumbnail__type--healing {
    background-color: #f0ce0f;
    color: white;
    font-size: 0.7rem;
    padding: 0.4rem 0.5rem;
    border-radius: 15px;
    line-height: 1;
    margin-left: 15px;
}

.session-thumbnail__type--coaching {
    background-color: #1e90ff;
    color: white;
    font-size: 0.75rem;
    padding: 0.4rem 0.5rem;
    border-radius: 15px;
    line-height: 1;
    margin-left: 15px;
}

.session-thumbnail__type--spiritual {
    background-color: #8b008b;
    color: white;
    font-size: 0.75rem;
    padding: 0.4rem 0.5rem;
    border-radius: 15px;
    line-height: 1;
    margin-left: 15px;
}

.session-thumbnail__type--loveandbeauty {
    background-color: #ff69b4;
    color: white;
    font-size: 0.75rem;
    padding: 0.4rem 0.5rem;
    border-radius: 15px;
    line-height: 1;
    margin-left: 15px;
}

.session-thumbnail__img-container {
    width: 100%;
    background-color: #000;    
    overflow: hidden;
}

.session-thumbnail__link:hover .session-thumbnail__img {
    filter: brightness(0.7);
    transform: scale(1.2);
}

.session-thumbnail__hover-text {
    opacity: 0;
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    padding-top: 48px;
    text-align: center;
    margin-top: -35px;
    margin-left: -35px;
    font-size: .75rem;
    transform: translate(0, 15px) scale(1.2);
    transition: all 0.3s 0s ease;
    z-index: 2;
}

.session-thumbnail__hover-text::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border: 1px solid #fff;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    display: block;
    transition: all 0.4s 0s ease;
    background: url(/img/arrow_index_column.png) no-repeat center center;
    border-radius: 50%;
}

.session-thumbnail__hover-text:hover {
    pointer-events: none;
}

.session-thumbnail__link:hover .session-thumbnail__hover-text {
    opacity: 1;
    transform: translate(0, 0) scale(1);
}

.session-thumbnail__img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    vertical-align: bottom;
    transition: all 0.3s 0s ease;
}

.session-thumbnail__link {
    display: block;
    width: 100%;
    overflow: hidden;
    margin-bottom: 5px;
    border-radius: 3px;
}

.session-thumbnail__link:hover {
    border-radius: 3px;
}

.session-thumbnail__text-link {
    float: right;
    font-size: 0.8rem;    
}

.movie{
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 60%;
    background-color: black;
    margin-bottom: 30px;

}

.movie iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.session-detail {
    padding-bottom: 35px;
    margin-bottom: 40px;
}

.session-movie-not-viewable{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

.session-movie-not-viewable-message{
    text-align: center;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    line-height: 2rem;    
}

.session-movie-not-viewable-button {
    display: inline-block;
    padding: 15px 30px;
    margin: 0 auto;
    margin-top: 25px;
}

.session-outline {
    overflow: hidden;
}

/* .session-detail__info {
    
} */

.session-detail__subtitle {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.session-detail__description {
    background-color: #f3f3f3;
    padding: 10px 20px;
    line-height: 2;
    border-radius: 3px;
    margin-bottom: 40px;
    font-size: 0.9rem;
}

@media screen and (max-width:768px) {
    .session-content {
        display: block;
    }   
}
.sidebar {
    padding-top: 40px;
    overflow: hidden;
}

.sidebar-userinfo {
    margin-bottom: 30px;
    background-color: #f3f3f3;
    padding: 20px 20px;
    line-height: 2;
    border-radius: 3px;
}

.sidebar-username-title {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

.sidebar-username {
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.sidebar-coursename-title {
    font-size: 0.8rem;
}
.sidebar-coursename {
    font-size: 0.8rem;
    font-weight: bold;
}

.sidebar-userinfo-hr {
    background-color: #F0F0F0;
    margin-bottom: 2rem;
}

.sidebar__subtitle {
    font-size: 0.9rem;
    margin-bottom: 10px;

}

.sidebar__memo {
    font-size: 0.75rem;
    margin-bottom: 10px;

}

.sidebar__textarea {
    border-radius: 3px;
    line-height: 1.2;
    border: 1px solid #ced4da;
    box-shadow: none;
    resize: none;
}

.sidebar-form {
    margin-top: 0.5rem;
}

.no-member-contact-form {
    margin-bottom: 1rem;
}

.text-page {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 55px;
}

.text-page__main-title {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 30px;
    padding-top: 40px;
    padding-bottom: 10px;
}
/* 
.text-page__desc {

} */

.text-page__sub-title {
    font-weight: bold;
    font-size: 1.25rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.text-page__ol {
    margin-left: 30px;
}

/* .text-page__li {
 
} */

.text-page-table, .text-page-table__th, .text-page-table__td {
    border: 1px solid gray;
    border-collapse: collapse;
}

.text-page-table {
    width: 80%;
    margin: 0 auto;
    font-size: 0.8rem;    
}

.text-page-table__th {
    background-color: #f3f3f3;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.text-page-table__td {
    padding-left: 15px;

}
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');



.top {
    position: relative;
}

.navbar-brand {
    font-family: 'Abril Fatface', cursive;
}

.top__img {
    height: 100vh;
    object-fit: cover;
}

.top__button {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    border-radius: 3px;    
    position: absolute;
    top: 52%;
    left: 11.4%;
    color: white;    
    border: none;
    padding: 2.25rem 2.5rem;
    display: block;
    border-radius: 3;
    background: linear-gradient(to right, #f74949, #ffb947);
    opacity: 0.8;
    letter-spacing: 2px;
    overflow: hidden;
}
.top__button:before {
    content: "";
    width: 200%;
    height: 200%;
    background: rgba(255, 255, 255, .2);
    transform: rotate(-45deg);
    position: absolute;
    top: -12%;
    left: -190%;
    transition: .3s ease-in-out;
}

.top__button:hover:before {
    left: 60%;
}

 
.top__button:hover, .top__button:focus, .top__button:active {
    
    /* background: linear-gradient(to right, #f74949, #f2ae40);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-color:white; */
    text-decoration: none;
    color: white;
    
} 

.top-assertion {
    background-color: #fff;
    opacity: 0.7;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;
}

.top-assertion__ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    height:100%;
}

.top-assertion__li {
    text-align: center;
    font-size: 1.25rem;    
    height: 100%;
    display: flex;
    align-items: center;
    
}

.top-assertion__li > i {
    display: inline;

}

.top__message {
    position: absolute;
    top: 34%;
    left: 11.4%;
    transform: translateY(-50%);
    font-weight: bold;
    font-size: 2rem;
    line-height: 2;
    color: #fff;
    display: inline-block;
    text-align: left;
}

.top-section {
    overflow: hidden;
    padding: 70px 150px;
    text-align: center;
    position: relative;
}

.top-section--bg-gray {
    overflow: hidden;
    padding: 70px 150px;
    text-align: center;
    background-color: #f3f3f3;
    position: relative;
}

.top-section-title {
    display:inline-block;
    font-size: 1.5rem;
    margin: 0 auto 30px;
    padding: 0 20px 10px;
    border-bottom: 1px solid #7C41CD;
}

.top-section-cooperation {
    width: 300px;
    margin: 0 auto 20px;

}

.top-section-cooperation-img {
    width: 100%;
    object-fit: cover;
}

.top-section-text {
    text-align: left;
    font-size: 1rem;
    line-height: 2rem;
    margin: 0 auto;
    width: 50%;
}

.top-section-text--width-img {
    text-align: center;
    font-size: 1rem;
    line-height: 2rem;
    margin: 0;
    margin-bottom: 3rem;
}

.top-section__merits{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.top-section__merit-container {
    flex-basis: 45%;
}

.top-section__merit-img--1 {
    width: 100%;
    height: 90%;
    padding-top: 15%;
}

.top-section__merit-img--2 {
    width: 100%;
    height: 100%;
}

.top-section__merit-img-container {
    margin: 0 auto;
    width: 80%;
    height: 400px;
    margin-bottom: 1rem;
}

.top-section__merit-title {
    font-size: 1.25rem;    
}

.top-section__merit-desc {
    width: 80%;
    font-size: 1rem;
    line-height: 2rem;
    text-align: left;
    margin: 0 auto;
}

.top-section__reasons {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    
}

.top-section__reason {
    width: 100%;
    margin: 0 auto;
    flex-basis: 20%;
}

.top-section__reason-img-container {
    width: 210px;
    margin: 0 auto 20px;
    position: relative;

}

.top-section__reason-img {
    width: 210px;
    height: 210px;
    object-fit: cover;
    border-radius: 50%;
    filter: brightness(0.5);
    ;
}

.top-section__reason-title {
    position: absolute;
    font-size: 1.2rem;
    margin-bottom: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    width: 100%;
    z-index: 2;
}

.top-section__reason-desc {
    width:80%;
    text-align: left;
    margin: 0 auto;
}






.top-section__wave-gray {    
    background-image: url(/img/wave.svg);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 11.6%;
    height: 0;
}

.panel-voice {
    text-align: left;
    padding: 25px;
    border-radius: 3px;
    background-color: #E9E9E9;
    margin-bottom: 10px;
}

.panel-voice-title {
    text-align: left;
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.panel-voice-text {
    text-align: left;
    font-size: 1rem;
    line-height: 2rem;
    margin: 0;
    margin-bottom: 20px;
}

.panel-qa {
    text-align: left;
    padding: 25px;
    border-radius: 3px;
    background-color: #fff;
    margin-bottom: 10px;
}

.panel-voice-username {
    font-size: 1rem;
    line-height: 2rem;
    margin: 0;
    text-align: right;
}

.panel-qa-title {
    text-align: left;
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.panel-qa-text {
    text-align: left;
    font-size: 1rem;
    line-height: 2rem;
    margin: 0;
    margin-bottom: 20px;
}

.top-section__reason-ul {
    display: table;
    padding: 0;
    margin: 0 auto 60px;
    text-align: left;
    list-style: none;
}

.top-section__reason-li {
    display: table;
    padding-left: 40px;
	line-height: 3;
	background: url("/img/top-list-style.png") left 0px top 1.5rem no-repeat;
    background-size: 1.5rem;
    font-size: 1.5rem;
}

@media screen and (max-width:768px) {

    .top__message {
        font-size: 1.2rem;
        top: 35%;
    }

    .top__button {
        top: 52.5%;
        padding: 15px 15px;
        font-size: 1rem;
    }

    .top__img {
        height: 50vh;
    }

    .top-assertion {
        height: 70px;
    }

    .top-assertion__li {
        font-size: 1rem;
    }
 
    
    .top-section, .top-section--bg-gray {
        padding: 40px 25px;
    }
    
    .top-section-title {
        margin-bottom: 25px;
        padding: 5px;
        font-size: 1.4rem;
    }

    .top-section-text {
        width: 100%;
        font-size: 1.1rem;
    }

    .top-section__reasons {
        display: block;
    }

    .top-section__reason {
        margin-bottom: 30px;
    }

    .top-section__reason-title {
        font-size: 1.5rem;
    }

    .top-section__reason-desc {
        width: 210px;
        font-size: 1rem;        
    }

    .top-section__merits {
        display: block;       
        padding-top: 0;
    }

    .top-section__merit-title {
        margin-bottom: 30px;
    }

    .top-section__merit-desc {
        width: 100%;;

    }

    .top-section__merit-img--1 {
        padding-top: 0px;
    }

    .top-section__merit-img--2 {
        padding-top: 0px;
    }

    .top-section__merit-img-container {
        height: auto;
        margin-bottom: 30px;
    }
    
    .top-section__merit-container:first-child {
        margin-bottom: 50px;
    }

    .top-section__reason-ul {
        margin-bottom: 30px;
    }

    .top-section__reason-li {
        font-size: 1.2rem;
        padding-left: 25px;
        background-size: 1.2rem;
        background-position-y: 1.2rem;
    }

} 