.change-password {
    width: 80%;
    margin: 0 auto;
}

.change-password__main-title {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 30px;
    padding-top: 40px;
    padding-bottom: 10px;
}
