.session {    
    margin-bottom: 45px;
    padding-bottom: 50px;
    border-bottom: 2px solid #f3f3f3;
}

.session:last-child {    
    border-bottom: none;
}

.session-content {
    display: flex;
    justify-content: space-between;
}

.session-thumbnail {
    position: relative;
    overflow: hidden;
    flex-basis: 35%;
}

.session-info {
    flex-basis: 60%;    
}

.session-thumbnail__type {
    position: absolute;
    background-color: rgba(1, 1, 1, 0.3);
    color: white;
    padding: 0.25rem 0.5rem;
    z-index: 101;
}

.session-thumbnail__img-container {
    width: 100%;
    background-color: #000;    
}

.session-thumbnail:hover .session-thumbnail__img {
    filter: brightness(0.5);
    transform: scale(1.2);
}

.session-thumbnail:hover .session-thumbnail__hover-text {
    opacity: 1;
}

.session-thumbnail__hover-text:hover {
    pointer-events: none;
}

.session-thumbnail__img {
    width: 100%;
    height: 160px; 
    object-fit: cover;
    vertical-align: bottom;
    transition: all 0.3s 0s ease;
}


.session-thumbnail__hover-text {
    opacity: 0;
    position: absolute;
    color: #fff;
    top: 75%;
    left: 50%;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: .9rem;    
    transform: translate(-50%, -50%);
    transition: all 0.3s 0s ease;
    z-index: 100;
}

.session-thumbnail__hover-text::before {
    content: '';
    position: absolute;
    top: -150%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    display: block;
    transition: all 0.4s 0s ease;
    background: url(/img/arrow_index_column.png) no-repeat center center;
    border-radius: 50%;
}

.session-thumbnail__link {
    display: relative;
    width: 100%;
}

.session__title-container {
    margin-bottom: 10px;
}

.session__title {
    font-size: 1.2rem;
    line-height: 1;
    font-weight: bold;
    letter-spacing: 2.5px;
}

.session__title:hover {
    color: #7C41CD;
    margin-bottom: 15px;
}

.session-info__outline {
    background-color: #f3f3f3;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 3px;
    line-height: 2;
    height: 100%;

}

.movie{
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 60%;
    background-color: black;

}

.movie iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.session-movie-not-viewable{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

.session-movie-not-viewable-message{
    text-align: center;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    line-height: 2rem;    
}

.session-outline {
    overflow: hidden;
}

.session-type-healing {
    background-color: rgb(106, 194, 106);
}

.session-type-coaching {
    background-color: green;
}

.session-type-spiritual {
    background-color: green;
}

.session-type-loveandbeauty {
    background-color: green;
}

