.session {    
    margin-bottom: 45px;
    padding-bottom: 50px;
    border-bottom: 2px solid #f3f3f3;
}

.session:last-child {    
    border-bottom: none;
}

.session-content {
    display: flex;
    justify-content: space-between;
}

.session-thumbnail {
    position: relative;
    overflow: hidden;
    flex-basis: 35%;
}

.session-info {
    flex-basis: 60%;    
}

.session-thumbnail__type {
    position: absolute;
    background-color: rgba(1, 1, 1, 0.3);
    color: white;
    padding: 0.25rem 0.5rem;
}

.session-thumbnail__type:hover {
    color: white;
    text-decoration: none;
}

.session-thumbnail__img-container {
    width: 100%;    
}

.session-thumbnail__img {
    width: 100%;
    height: 160px; 
    object-fit: cover;
    vertical-align: bottom;
}

.session-thumbnail__link {
    display: block;
    width: 100%;
}

.session__title-container {
    margin-bottom: 10px;
}

.session__title {
    font-size: 1.2rem;
    line-height: 1;
    font-weight: bold;
    letter-spacing: 2.5px;
}

.session__title:hover {
    color: #7C41CD;
    margin-bottom: 15px;
}

.session-info__outline {
    background-color: #f3f3f3;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 3px;
    line-height: 2;
    height: 100%;

}

.movie{
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 60%;
    background-color: black;

}

.movie iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.session-movie-not-viewable{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

.session-movie-not-viewable-message{
    text-align: center;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    line-height: 2rem;    
}

.session-outline {
    overflow: hidden;
}

.session-type-healing {
    background-color: rgb(106, 194, 106);
}

.session-type-coaching {
    background-color: green;
}

.session-type-spiritual {
    background-color: green;
}

.session-type-loveandbeauty {
    background-color: green;
}